[submodule "Libraries/googletest"]
	path = Libraries/googletest
	url = https://github.com/google/googletest.git
[submodule "Libraries/googlebenchmark"]
	path = Libraries/googlebenchmark
	url = https://github.com/google/benchmark.git
[submodule "Libraries/unum"]
	path = Libraries/unum
	url = https://github.com/stillwater-sc/universal.git
[submodule "Libraries/mtl4"]
	path = Libraries/mtl4
	url = https://github.com/simunova/mtl4.git
[submodule "Libraries/hpr-blas"]
	path = Libraries/hpr-blas
	url = https://github.com/stillwater-sc/hpr-blas.git
